django
djangorestframework
face_recognition
opencv-python
numpy
dlib
cmake
psycopg[binary]
python-dotenv
djangorestframework-simplejwt
channels
channels_redis
django-cors-headers
dj-database-url 
gunicorn
