# Django və əsas dependensiyalar
django>=5.0,<6.0
djangorestframework
django-cors-headers
djangorestframework-simplejwt
channels
channels_redis
gunicorn
dj-database-url
python-dotenv

# Verilənlər bazası
psycopg[binary]

# OpenCV və NumPy
opencv-python
numpy==1.26.4

# Üz tanıma
face_recognition
