# Django və əsas dependensiyalar
django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
channels
channels_redis
gunicorn
dj-database-url
python-dotenv
django-jazzmin

# Verilənlər bazası
psycopg[binary]

# OpenCV və NumPy
opencv-python
numpy==1.26.4

# Üz tanıma
face-recognition
git+https://github.com/ageitgey/face_recognition_models.git
